<!-- app/views/pedidos/index.html.erb -->
<h1>Lista de Pedidos</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Fecha</th>
      <th>Costo Total</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.id %></td>
        <td><%= pedido.clt_nombre %></td>
        <td><%= pedido.ped_fecha %></td>
        <td><%= number_to_currency(pedido.ped_costo) %></td>
        <td>
          <%= link_to 'Ver', pedido %> |
          <%= link_to 'Editar', edit_pedido_path(pedido) %>
          <%= link_to 'Eliminar', pedido, method: :delete, data: { confirm: '¿Estás seguro?' }, "data-turbo-method": "delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Crear Nuevo Pedido', new_pedido_path %>
<%= link_to 'Volver', root_path %>
