<div class="container">
  <h1 class="mt-4 text-center">Crear un nuevo pedido</h1>

  <%= form_with model: @pedido, url: pedidos_path do |form| %>
    <% if @pedido.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pedido.errors.count, "error") %> prohibió que este pedido se guardara:</h2>
        <ul>
          <% @pedido.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="mb-3">
          <%= form.label :clt_nombre, "Nombre del cliente" %>
          <%= form.text_field :clt_nombre, class: "form-control", required: true %>
          <div class="invalid-feedback">
            Por favor ingresa el nombre del cliente.
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="mb-3">
          <%= form.label :clt_direccion, "Dirección de entrega" %>
          <%= form.text_field :clt_direccion, class: "form-control", required: true %>
          <div class="invalid-feedback">
            Por favor ingresa la dirección de entrega.
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="mb-3">
          <%= form.label :ped_fecha, "Fecha del pedido: " %>
          <%= form.hidden_field :ped_fecha, value: Date.today %>
          <p><%= Date.today %></p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2 class="mt-4">Productos</h2>
      </div>
    </div>
    <% @productos.each do |producto| %>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="mb-3">
            <%= label_tag "productos_#{producto.id}_cantidad", "#{producto.prod_nombre} - Precio Unitario: #{number_to_currency(producto.prod_precio)}, Cantidad Disponible: #{producto.product_stock&.ped_cantidadDisponible}, Cantidad a Solicitar:" %>
            <%= number_field_tag "productos[#{producto.id}][cantidad]", 0, min: 0, max: producto.product_stock&.ped_cantidadDisponible, data: { max: producto.product_stock&.ped_cantidadDisponible }, class: 'form-control product-quantity', required: true %>
            <div class="invalid-feedback">
              La cantidad pedida no puede exceder la cantidad disponible.
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <%= form.submit "Crear Pedido", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="row justify-content-center mt-3">
    <div class="col-lg-6 text-center">
      <%= link_to 'Volver', pedidos_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelector("form").addEventListener("submit", function(e) {
      let isValid = true;
      document.querySelectorAll(".product-quantity").forEach(function(input) {
        const maxAvailable = parseInt(input.dataset.max, 10);
        if (parseInt(input.value, 10) > maxAvailable) {
          input.classList.add("is-invalid");
          isValid = false;
        } else {
          input.classList.remove("is-invalid");
        }
      });
      if (!isValid) {
        e.preventDefault(); // Prevenir que el formulario se envíe
      }
    });
  });
</script>
