<h1>Crear un nuevo pedido</h1>

<%= form_with model: @pedido, url: pedidos_path do |form| %>
  <div>
    <%= form.label :clt_nombre, "Nombre del cliente" %>
    <%= form.text_field :clt_nombre %>
  </div>

  <div>
    <%= form.label :clt_direccion, "Dirección de entrega" %>
    <%= form.text_field :clt_direccion %>
  </div>

  <div class="field">
    <%= form.label :ped_fecha, "Fecha del pedido: " %>
    <%= form.hidden_field :ped_fecha, value: Date.today %>
    <p><%= Date.today %></p>
  </div>

  <h2>Productos</h2>
  <% @productos.each do |producto| %>
    <div>
      <%= label_tag "productos_#{producto.id}_cantidad", "#{producto.prod_nombre} - Precio Unitario: #{number_to_currency(producto.prod_precio)}, Cantidad Disponible: #{producto.product_stock&.ped_cantidadDisponible}, Cantidad a Solicitar:" %>
      <%= number_field_tag "productos[#{producto.id}][cantidad]", 0, min: 0, max: producto.product_stock&.ped_cantidadDisponible, data: { max: producto.product_stock&.ped_cantidadDisponible }, class: 'product-quantity' %>
    </div>
  <% end %>

  <%= form.submit "Crear Pedido" %>
<% end %>
<%= link_to 'Volver', pedidos_path %>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelector('form').addEventListener('submit', function(e) {
    let isValid = true;
    document.querySelectorAll('.product-quantity').forEach(function(input) {
      const maxAvailable = parseInt(input.dataset.max, 10);
      if (parseInt(input.value, 10) > maxAvailable) {
        alert('La cantidad pedida no puede exceder la cantidad disponible.');
        isValid = false;
      }
    });
    if (!isValid) {
      e.preventDefault(); // Prevenir que el formulario se envíe
    }
  });
});
</script>
