<!-- app/views/productos/index.html.erb -->
<h1>Lista de Productos</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Descripción</th>
    <th colspan="3">Acciones</th>
  </tr>

  <% @productos.each do |producto| %>
    <tr>
      <td><%= producto.id %></td>
      <td><%= producto.prod_nombre %></td>
      <td><%= producto.prod_precio %></td>
      <td><%= producto.prod_descripcion %></td>
      <td><%= link_to 'Ver', producto %></td>
      <td><%= link_to 'Editar', edit_producto_path(producto) %></td>
      <td><%= link_to 'Eliminar', producto, method: :delete, data: { confirm: '¿Estás seguro?' }, "data-turbo-method": "delete" %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Nuevo Producto', new_producto_path %>
<%= link_to 'Volver', root_path %>
<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/producto.css">

